@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.modal::backdrop {
  background-color: #0000008c;
}

button {
  outline: none;
  box-shadow: none;
  border: none; /* optional, if border appears */
}

button:focus {
  outline: none;
  box-shadow: none;
}
